@model FilterProductsViewModel
@{
    var defaultImageUrl = "/Content/images/system/placeholder-image.png";
}

<div class="filter-shop clearfix">
    <p class="showing-product float-right">
        Showing @((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize + 1)–@(((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize) + ((Model.Products.Count < Model.Pager.PageSize) ? Model.Products.Count : Model.Pager.PageSize)) of @Model.Pager.TotalItems Products
    </p>
</div><!-- /.filte-shop -->
<div class="product-content product-threecolumn product-slidebar clearfix">
    <ul class="product style2 sd1">
        @foreach (var product in Model.Products)
        {
            <li class="product-item">
                <div class="product-thumb clearfix" style="padding-bottom:20px;">
                    <a href="#">
                        @{
                            var ImageUrl = string.IsNullOrEmpty(product.ImageUrl) ? defaultImageUrl : product.ImageUrl;
                        }
                        <img src="@ImageUrl" alt="image">
                    </a>
                    <span class="new">New</span>
                </div>
                <div class="product-info clearfix">
                    <span class="product-title">@product.Name</span>
                    <div class="price">
                        <del>
                            <span class="amount">$@{var pr = product.Price + product.Price / 10; @pr}</span>
                        </del>
                        <ins>
                            <span class="amount">$@product.Price</span>
                        </ins>
                    </div>
                </div>
                <div class="add-to-cart text-center">
                    <a class="productAddToCart" data-id="@product.ID" >ADD TO CART</a>
                </div>
                <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
            </li>
        }
    </ul><!-- /.product -->
</div><!-- /.product-content -->

@if(Model.Pager != null)
{
    <div class="product-pagination text-center clearfix">
        <ul class="flat-pagination">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li class="prev">
                    <a href="@Url.Action("Index", "Shop", new { pageNo = Model.Pager.StartPage, categoryID = Model.CategoryID, sortBy = Model.sortBy })"><i class="fa fa-angle-double-left"></i></a>
                </li>
                <li class="prev">
                    <a href="@Url.Action("Index", "Shop", new { pageNo = Model.Pager.CurrentPage - 1, categoryID = Model.CategoryID, sortBy = Model.sortBy })"><i class="fa fa-angle-left"></i></a>
                </li>
                <li><a href="@Url.Action("Index", "Shop", new { pageNo = 1, categoryID = Model.CategoryID, sortBy = Model.sortBy })">1</a></li>
            }
            @for (var page = Model.Pager.CurrentPage; page <= Model.Pager.EndPage; page++)
            {
                string activeClass = Model.Pager.CurrentPage == page ? "active bg-info" : string.Empty;

                <li class="@activeClass"><a href="@Url.Action("Index", "Shop", new { pageNo = page, categoryID = Model.CategoryID, sortBy = Model.sortBy })" title="">@page</a></li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {

                <li><a href="@Url.Action("Index", "Shop", new { pageNo = Model.Pager.CurrentPage + 1, categoryID = Model.CategoryID, sortBy = Model.sortBy })"><i class="fa fa-angle-right"></i></a></li>
                <li><a href="@Url.Action("Index", "Shop", new { pageNo = Model.Pager.EndPage, categoryID = Model.CategoryID, sortBy = Model.sortBy })"><i class="fa fa-angle-double-right"></i></a></li>
            }
        </ul><!-- /.flat-pagination -->
    </div>
}


<script>
    var products;
    $(".productAddToCart").click(function () {

        var existingCookieData = $.cookie('CartProducts');

        if (existingCookieData != undefined && existingCookieData != "" && existingCookieData != null) {
            products = existingCookieData.split('-');
        }
        else {
            products = [];
        }

        var productID = $(this).attr("data-id");
        products.push(productID);

        $.cookie('CartProducts', products.join('-'), { path: '/' });
        UpdateCartProducts();
        swal("Done", "Product added to cart", "success");
    });
</script>